In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

path = os.path.join(os.path.expanduser("~"),"Documents\Lucas\Personal\hackathon_mE\data\processed")
file_path = os.path.join(path, "ACTIVIDADES_REPARTIDOR_processed.csv")

In [2]:
df = pd.read_csv(file_path)
df

,ID_VISITA,ID_REPARTIDOR,ID_HOJA_REPARTO,NUMERO_HOJA_REPARTO,ID_CUENTA,FECHA_INICIO,HORA_INICIO,DURACION,CANT_FACT_TOTALES,CANT_FACT_ENTREGA_TOTAL,...,CANT_ITEMS_NO_ENTREGADOS,CANT_COB_FACT_TOTALES,CANT_COB_FACT_COBRADAS,CANT_COB_FACT_NO_COBRADAS,MONTO_TOTAL_DEUDA,MONTO_COBRADO,A_CREDITO,GPS_LATITUD,GPS_LONGITUD,GPS_PRECISION
0,1020180918092628,10,HOJA,65996,0000009824,20180918,92628,0,2,2,...,0.0,0,0,0,0.00,0.00,0.0,-31.384962,-64.257537,10.000000
1,1020180918092734,10,HOJA,66011,0000010656,20180918,92734,0,1,1,...,0.0,1,1,0,2173.03,0.00,1.0,-31.384893,-64.257630,11.800000
2,1020180918130802,10,HOJA,65996,0000008873,20180918,130802,0,2,2,...,0.0,2,2,0,1631.56,0.00,1.0,-31.396538,-64.243463,10.000000
3,1020180918130814,10,HOJA,65996,0000009824,20180918,130814,0,2,2,...,0.0,0,0,0,0.00,0.00,0.0,-31.396385,-64.243622,8.400000
4,1020180918131751,10,HOJA,65996,0000009480,20180918,131751,0,2,2,...,0.0,2,2,0,2914.03,0.00,1.0,-31.396610,-64.252255,6.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48680,620220520194138,6,HOJA,97651,0000010930,20220520,194138,6,2,2,...,0.0,2,2,0,7234.37,7234.37,0.0,-31.320453,-64.316674,3.392317
48681,1020220520152238,10,HOJA,97662,0000009913,20220520,152238,7,2,2,...,0.0,2,2,0,12808.25,12808.25,0.0,-31.406595,-64.223669,7.713821
48682,620220520193707,6,HOJA,97658,0000102035,20220520,193707,112,1,1,...,0.0,1,1,0,15355.84,14940.28,0.0,0.000000,0.000000,2.000000
48683,620220520194101,6,HOJA,97651,0000009869,20220520,194101,0,1,1,...,0.0,1,0,1,27058.58,0.00,1.0,0.000000,0.000000,2.000000
48684,620220520194112,6,HOJA,97651,0000010142,20220520,194112,12,2,2,...,0.0,2,2,0,12309.42,12309.42,0.0,0.000000,0.000000,2.000000

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID_VISITA,48685.0,1.862062e+15,7.307521e+15,1.202109e+14,3.202204e+14,6.202204e+14,1.020221e+15,1.020221e+17
ID_REPARTIDOR,48685.0,4.355222e+00,3.186642e+00,1.000000e+00,1.000000e+00,4.000000e+00,6.000000e+00,1.000000e+01
NUMERO_HOJA_REPARTO,48685.0,9.835407e+04,5.195292e+03,6.599400e+04,9.730200e+04,9.907100e+04,1.009120e+05,1.032620e+05
FECHA_INICIO,48685.0,2.021968e+07,6.251001e+03,2.018092e+07,2.022051e+07,2.022072e+07,2.022101e+07,2.023012e+07
HORA_INICIO,48685.0,1.363458e+05,5.339106e+04,4.000000e+00,1.016540e+05,1.347090e+05,1.732450e+05,2.359340e+05
DURACION,48685.0,3.261432e+01,7.260669e+02,-8.622100e+04,0.000000e+00,0.000000e+00,8.000000e+00,4.493600e+04
CANT_FACT_TOTALES,48685.0,1.363007e+00,7.660797e-01,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.700000e+01
CANT_FACT_ENTREGA_TOTAL,48685.0,1.020088e+00,9.048291e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,2.700000e+01
CANT_FACT_ENTREGA_PARCIAL,48685.0,3.882099e-03,6.251551e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
CANT_FACT_ENTREGA_MOTIVOS,48685.0,3.390367e-01,6.779486e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+01
CANT_ITEMS_TOTALES,48685.0,8.658618e+01,2.024028e+02,0.000000e+00,1.400000e+01,3.700000e+01,8.800000e+01,9.553000e+03
CANT_ITEMS_ENTREGADOS,48685.0,6.937377e+01,1.921371e+02,0.000000e+00,0.000000e+00,2.200000e+01,6.800000e+01,9.553000e+03
CANT_ITEMS_NO_ENTREGADOS,48685.0,1.721241e+01,8.013261e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.133000e+03
CANT_COB_FACT_TOTALES,48685.0,1.237506e+00,9.400604e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.700000e+01
CANT_COB_FACT_COBRADAS,48685.0,8.028551e-01,7.932709e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.500000e+01
CANT_COB_FACT_NO_COBRADAS,48685.0,4.346513e-01,9.535182e-01,-1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.700000e+01
MONTO_TOTAL_DEUDA,48685.0,1.039065e+04,2.046599e+04,0.000000e+00,2.404270e+03,5.304420e+03,1.127136e+04,1.264982e+06
MONTO_COBRADO,48685.0,3.652170e+03,7.604780e+03,0.000000e+00,0.000000e+00,0.000000e+00,4.774330e+03,2.645593e+05
A_CREDITO,48358.0,4.872203e-01,4.998418e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
GPS_LATITUD,48685.0,-2.092287e+01,1.479124e+01,-3.152307e+01,-3.139694e+01,-3.134947e+01,0.000000e+00,0.000000e+00
GPS_LONGITUD,48685.0,-4.283139e+01,3.027923e+01,-6.450169e+01,-6.423772e+01,-6.420811e+01,0.000000e+00,0.000000e+00
GPS_PRECISION,48685.0,6.920096e+00,1.941356e+01,0.000000e+00,1.448648e+00,2.600000e+00,7.504000e+00,9.611807e+02

In [7]:
df.columns

Index(['ID_VISITA', 'ID_REPARTIDOR', 'ID_HOJA_REPARTO', 'NUMERO_HOJA_REPARTO',
       'ID_CUENTA', 'FECHA_INICIO', 'HORA_INICIO', 'DURACION',
       'CANT_FACT_TOTALES', 'CANT_FACT_ENTREGA_TOTAL',
       'CANT_FACT_ENTREGA_PARCIAL', 'CANT_FACT_ENTREGA_MOTIVOS',
       'CANT_ITEMS_TOTALES', 'CANT_ITEMS_ENTREGADOS',
       'CANT_ITEMS_NO_ENTREGADOS', 'CANT_COB_FACT_TOTALES',
       'CANT_COB_FACT_COBRADAS', 'CANT_COB_FACT_NO_COBRADAS',
       'MONTO_TOTAL_DEUDA', 'MONTO_COBRADO', 'A_CREDITO', 'GPS_LATITUD',
       'GPS_LONGITUD', 'GPS_PRECISION'],
      dtype='object')

In [9]:
columna_a_eliminar = ['ID_VISITA','ID_HOJA_REPARTO','DURACION','HORA_INICIO',]
data = df.drop(columna_a_eliminar, axis=1)

In [15]:
data['FECHA_INICIO_FORMAT'] = pd.to_datetime(data['FECHA_INICIO'], format= '%Y%m%d')
data['YEAR'] = data['FECHA_INICIO_FORMAT'].dt.year
data

,ID_REPARTIDOR,NUMERO_HOJA_REPARTO,ID_CUENTA,FECHA_INICIO,CANT_FACT_TOTALES,CANT_FACT_ENTREGA_TOTAL,CANT_FACT_ENTREGA_PARCIAL,CANT_FACT_ENTREGA_MOTIVOS,CANT_ITEMS_TOTALES,CANT_ITEMS_ENTREGADOS,...,CANT_COB_FACT_COBRADAS,CANT_COB_FACT_NO_COBRADAS,MONTO_TOTAL_DEUDA,MONTO_COBRADO,A_CREDITO,GPS_LATITUD,GPS_LONGITUD,GPS_PRECISION,FECHA_INICIO_FORMAT,YEAR
0,10,65996,0000009824,20180918,2,2,0,0,151.0,151.0,...,0,0,0.00,0.00,0.0,-31.384962,-64.257537,10.000000,2018-09-18,2018
1,10,66011,0000010656,20180918,1,1,0,0,76.0,76.0,...,1,0,2173.03,0.00,1.0,-31.384893,-64.257630,11.800000,2018-09-18,2018
2,10,65996,0000008873,20180918,2,2,0,0,58.0,58.0,...,2,0,1631.56,0.00,1.0,-31.396538,-64.243463,10.000000,2018-09-18,2018
3,10,65996,0000009824,20180918,2,2,0,0,151.0,151.0,...,0,0,0.00,0.00,0.0,-31.396385,-64.243622,8.400000,2018-09-18,2018
4,10,65996,0000009480,20180918,2,2,0,0,149.0,149.0,...,2,0,2914.03,0.00,1.0,-31.396610,-64.252255,6.500000,2018-09-18,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48680,6,97651,0000010930,20220520,2,2,0,0,57.0,57.0,...,2,0,7234.37,7234.37,0.0,-31.320453,-64.316674,3.392317,2022-05-20,2022
48681,10,97662,0000009913,20220520,2,2,0,0,31.0,31.0,...,2,0,12808.25,12808.25,0.0,-31.406595,-64.223669,7.713821,2022-05-20,2022
48682,6,97658,0000102035,20220520,1,1,0,0,170.0,170.0,...,1,0,15355.84,14940.28,0.0,0.000000,0.000000,2.000000,2022-05-20,2022
48683,6,97651,0000009869,20220520,1,1,0,0,235.0,235.0,...,0,1,27058.58,0.00,1.0,0.000000,0.000000,2.000000,2022-05-20,2022
48684,6,97651,0000010142,20220520,2,2,0,0,39.0,39.0,...,2,0,12309.42,12309.42,0.0,0.000000,0.000000,2.000000,2022-05-20,2022

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48685 entries, 0 to 48684
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_REPARTIDOR              48685 non-null  int64
 1   NUMERO_HOJA_REPARTO        48685 non-null  int64
 2   ID_CUENTA                  48685 non-null  object
 3   FECHA_INICIO               48685 non-null  int64
 4   CANT_FACT_TOTALES          48685 non-null  int64
 5   CANT_FACT_ENTREGA_TOTAL    48685 non-null  int64
 6   CANT_FACT_ENTREGA_PARCIAL  48685 non-null  int64
 7   CANT_FACT_ENTREGA_MOTIVOS  48685 non-null  int64
 8   CANT_ITEMS_TOTALES         48685 non-null  float64
 9   CANT_ITEMS_ENTREGADOS      48685 non-null  float64
 10  CANT_ITEMS_NO_ENTREGADOS   48685 non-null  float64
 11  CANT_COB_FACT_TOTALES      48685 non-null  int64
 12  CANT_COB_FACT_COBRADAS     48685 non-null  int64
 13  CANT_COB_FACT_NO_COBRADAS  48685 non-null  int64
 14  MONTO_TOTAL_DEUDA          48685 non-null  float64
 15  MONTO_COBRADO              48685 non-null  float64
 16  A_CREDITO                  48358 non-null  float64
 17  GPS_LATITUD                48685 non-null  float64
 18  GPS_LONGITUD               48685 non-null  float64
 19  GPS_PRECISION              48685 non-null  float64
 20  FECHA_INICIO_FORMAT        48685 non-null  datetime64[ns]
 21  YEAR                       48685 non-null  int32
dtypes: datetime64[ns](1), float64(9), int32(1), int64(10), object(1)
memory usage: 8.0+ MB

In [43]:
data_2023 = data[(data['YEAR']==2023) & (data['ID_CUENTA'] != 'Cierre Manual')]
data_2023

,ID_REPARTIDOR,NUMERO_HOJA_REPARTO,ID_CUENTA,FECHA_INICIO,CANT_FACT_TOTALES,CANT_FACT_ENTREGA_TOTAL,CANT_FACT_ENTREGA_PARCIAL,CANT_FACT_ENTREGA_MOTIVOS,CANT_ITEMS_TOTALES,CANT_ITEMS_ENTREGADOS,...,CANT_COB_FACT_COBRADAS,CANT_COB_FACT_NO_COBRADAS,MONTO_TOTAL_DEUDA,MONTO_COBRADO,A_CREDITO,GPS_LATITUD,GPS_LONGITUD,GPS_PRECISION,FECHA_INICIO_FORMAT,YEAR
282,3,103158,0000001401,20230113,1,1,0,0,792.0,792.0,...,0,0,0.00,0.00,0.0,0.000000,0.000000,2.000000,2023-01-13,2023
306,10,103152,0000002001,20230113,1,1,0,0,15.0,15.0,...,0,1,3676.68,0.00,1.0,0.000000,0.000000,2.000000,2023-01-13,2023
307,10,103152,0000009480,20230113,2,2,0,0,152.0,152.0,...,0,2,33220.82,0.00,1.0,0.000000,0.000000,2.000000,2023-01-13,2023
308,10,103152,0000009627,20230113,2,2,0,0,308.0,308.0,...,0,2,56026.10,0.00,1.0,0.000000,0.000000,2.000000,2023-01-13,2023
309,10,103152,0000011098,20230113,3,3,0,0,37.0,37.0,...,3,0,20969.14,20969.14,0.0,0.000000,0.000000,2.000000,2023-01-13,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25408,3,103147,0000011286,20230112,1,1,0,0,15.0,15.0,...,1,0,2511.79,2511.79,0.0,-31.370840,-64.207661,35.375999,2023-01-12,2023
25409,3,103147,0000007024,20230112,1,1,0,0,1.0,1.0,...,1,0,1385.66,1385.66,0.0,-31.370839,-64.207664,22.512001,2023-01-12,2023
25410,3,103147,0000010667,20230112,1,1,0,0,8.0,8.0,...,1,0,5446.08,5446.08,0.0,-31.370842,-64.207657,3.216000,2023-01-12,2023
25411,3,103147,0000010429,20230112,2,2,0,0,436.0,436.0,...,0,2,35361.88,0.00,1.0,-31.370842,-64.207656,4.288000,2023-01-12,2023
25412,3,103147,0000010205,20230112,1,1,0,0,78.0,78.0,...,1,0,6073.51,2760.24,0.0,-31.370802,-64.207345,17.152000,2023-01-12,2023

In [42]:
data_2022 = data[(data['YEAR']==2022) & (data['ID_CUENTA'] != 'Cierre Manual')]
data_2022

,ID_REPARTIDOR,NUMERO_HOJA_REPARTO,ID_CUENTA,FECHA_INICIO,CANT_FACT_TOTALES,CANT_FACT_ENTREGA_TOTAL,CANT_FACT_ENTREGA_PARCIAL,CANT_FACT_ENTREGA_MOTIVOS,CANT_ITEMS_TOTALES,CANT_ITEMS_ENTREGADOS,...,CANT_COB_FACT_COBRADAS,CANT_COB_FACT_NO_COBRADAS,MONTO_TOTAL_DEUDA,MONTO_COBRADO,A_CREDITO,GPS_LATITUD,GPS_LONGITUD,GPS_PRECISION,FECHA_INICIO_FORMAT,YEAR
542,4,99587,0000009721,20220811,3,3,0,0,74.0,74.0,...,0,3,10914.90,0.00,1.0,0.000000,0.000000,2.000000,2022-08-11,2022
543,4,99587,0000010123,20220811,1,1,0,0,17.0,17.0,...,1,0,2563.84,2563.84,0.0,0.000000,0.000000,2.000000,2022-08-11,2022
544,4,99587,0000010430,20220811,1,1,0,0,12.0,12.0,...,0,1,6060.51,0.00,1.0,0.000000,0.000000,2.000000,2022-08-11,2022
545,4,99587,0000010581,20220811,1,1,0,0,23.0,23.0,...,1,0,14862.59,14862.59,0.0,0.000000,0.000000,2.000000,2022-08-11,2022
546,4,99587,0000010644,20220811,1,1,0,0,29.0,29.0,...,1,0,10855.10,10855.10,0.0,0.000000,0.000000,2.000000,2022-08-11,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48680,6,97651,0000010930,20220520,2,2,0,0,57.0,57.0,...,2,0,7234.37,7234.37,0.0,-31.320453,-64.316674,3.392317,2022-05-20,2022
48681,10,97662,0000009913,20220520,2,2,0,0,31.0,31.0,...,2,0,12808.25,12808.25,0.0,-31.406595,-64.223669,7.713821,2022-05-20,2022
48682,6,97658,0000102035,20220520,1,1,0,0,170.0,170.0,...,1,0,15355.84,14940.28,0.0,0.000000,0.000000,2.000000,2022-05-20,2022
48683,6,97651,0000009869,20220520,1,1,0,0,235.0,235.0,...,0,1,27058.58,0.00,1.0,0.000000,0.000000,2.000000,2022-05-20,2022
48684,6,97651,0000010142,20220520,2,2,0,0,39.0,39.0,...,2,0,12309.42,12309.42,0.0,0.000000,0.000000,2.000000,2022-05-20,2022

In [40]:
años = data_2023.groupby('YEAR')['YEAR'].count()
años

YEAR
2018      993
2021     2733
2022    43487
2023     1472
Name: YEAR, dtype: int64

In [45]:
conteo_por_repartidor = data_2022.groupby('ID_REPARTIDOR')['ID_REPARTIDOR'].count()

# Convertir a DataFrame si quieres que sea un DataFrame con una columna
conteo_por_repartidor = conteo_por_repartidor.reset_index(name='CANTIDAD_REGISTROS')

print(conteo_por_repartidor)
# data_2023['ID_REPARTIDOR'].unique

   ID_REPARTIDOR  CANTIDAD_REGISTROS
0              1                9534
1              3                7560
2              4                3609
3              5                1203
4              6                6563
5             10                6136

In [48]:
data_rep_1 = data_2022[(data_2022['ID_REPARTIDOR'] == 1) & (data_2022['ID_CUENTA'] != 'Cierre Manual')]
data_rep_1

,ID_REPARTIDOR,NUMERO_HOJA_REPARTO,ID_CUENTA,FECHA_INICIO,CANT_FACT_TOTALES,CANT_FACT_ENTREGA_TOTAL,CANT_FACT_ENTREGA_PARCIAL,CANT_FACT_ENTREGA_MOTIVOS,CANT_ITEMS_TOTALES,CANT_ITEMS_ENTREGADOS,...,CANT_COB_FACT_COBRADAS,CANT_COB_FACT_NO_COBRADAS,MONTO_TOTAL_DEUDA,MONTO_COBRADO,A_CREDITO,GPS_LATITUD,GPS_LONGITUD,GPS_PRECISION,FECHA_INICIO_FORMAT,YEAR
644,1,99624,0000000881,20220811,1,0,0,1,34.0,0.0,...,0,1,5257.87,0.00,1.0,-31.413448,-64.193308,8.9,2022-08-11,2022
645,1,99624,0000001403,20220811,1,1,0,0,66.0,66.0,...,1,0,5875.86,5875.86,0.0,-31.413433,-64.193523,8.3,2022-08-11,2022
646,1,99624,0000003829,20220811,1,1,0,0,14.0,14.0,...,1,0,10816.37,10816.37,0.0,-31.413412,-64.193537,7.6,2022-08-11,2022
647,1,99624,0000005808,20220811,1,1,0,0,54.0,54.0,...,1,0,7478.33,7478.33,0.0,-31.413268,-64.193600,7.4,2022-08-11,2022
648,1,99624,0000007645,20220811,1,1,0,0,74.0,74.0,...,1,0,17356.13,17356.13,0.0,-31.413235,-64.193515,6.6,2022-08-11,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48636,1,97641,0000010737,20220520,1,1,0,0,168.0,168.0,...,0,1,13728.90,0.00,1.0,-31.409967,-64.205728,2.9,2022-05-20,2022
48652,1,97663,0000011152,20220520,2,2,0,0,76.0,76.0,...,2,0,6594.20,6594.20,0.0,-31.410378,-64.209638,1.7,2022-05-20,2022
48653,1,97663,0000011343,20220520,2,2,0,0,101.0,101.0,...,0,2,5215.23,0.00,1.0,-31.410383,-64.209632,1.6,2022-05-20,2022
48654,1,97641,0000009766,20220520,1,1,0,0,6.0,6.0,...,0,1,3137.51,0.00,1.0,-31.411322,-64.206253,2.5,2022-05-20,2022
48655,1,97641,0000010658,20220520,1,1,0,0,39.0,39.0,...,0,1,5123.35,0.00,1.0,-31.409965,-64.205742,2.8,2022-05-20,2022

In [49]:
fecha_max = data_rep_1['FECHA_INICIO'].max() 
fecha_min =  data_rep_1['FECHA_INICIO'].min()

print(f"El valor máximo de la columna 'CANTIDAD' es: {fecha_max}")
print(f"El valor mínimo de la columna 'CANTIDAD' es: {fecha_min}")

El valor máximo de la columna 'CANTIDAD' es: 20221229
El valor mínimo de la columna 'CANTIDAD' es: 20220215

In [50]:
data_rep_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9534 entries, 644 to 48655
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID_REPARTIDOR              9534 non-null   int64
 1   NUMERO_HOJA_REPARTO        9534 non-null   int64
 2   ID_CUENTA                  9534 non-null   object
 3   FECHA_INICIO               9534 non-null   int64
 4   CANT_FACT_TOTALES          9534 non-null   int64
 5   CANT_FACT_ENTREGA_TOTAL    9534 non-null   int64
 6   CANT_FACT_ENTREGA_PARCIAL  9534 non-null   int64
 7   CANT_FACT_ENTREGA_MOTIVOS  9534 non-null   int64
 8   CANT_ITEMS_TOTALES         9534 non-null   float64
 9   CANT_ITEMS_ENTREGADOS      9534 non-null   float64
 10  CANT_ITEMS_NO_ENTREGADOS   9534 non-null   float64
 11  CANT_COB_FACT_TOTALES      9534 non-null   int64
 12  CANT_COB_FACT_COBRADAS     9534 non-null   int64
 13  CANT_COB_FACT_NO_COBRADAS  9534 non-null   int64
 14  MONTO_TOTAL_DEUDA          9534 non-null   float64
 15  MONTO_COBRADO              9534 non-null   float64
 16  A_CREDITO                  9534 non-null   float64
 17  GPS_LATITUD                9534 non-null   float64
 18  GPS_LONGITUD               9534 non-null   float64
 19  GPS_PRECISION              9534 non-null   float64
 20  FECHA_INICIO_FORMAT        9534 non-null   datetime64[ns]
 21  YEAR                       9534 non-null   int32
dtypes: datetime64[ns](1), float64(9), int32(1), int64(10), object(1)
memory usage: 1.6+ MB

In [ ]:
df_corr = df.select_dtypes(include=['int64','float64'])

correlation_matrix = df_corr.corr()
# Establecer un umbral para considerar una correlación como fuerte
plt.figure(figsize=(20,6))
sns.heatmap(correlation_matrix,annot=True,cmap='coolwarm',vmin=-1,vmax=1)
plt.title('Mapa de calor de correlacion')
plt.show()
threshold = 0.6

# Encontrar pares de columnas con correlación fuerte
strong_correlations = []
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > threshold:
            colname1 = correlation_matrix.columns[i]
            colname2 = correlation_matrix.columns[j]
            correlation_value = correlation_matrix.iloc[i, j]
            strong_correlations.append((colname1, colname2, correlation_value))

# Imprimir los resultados
print("Pares de columnas con correlación fuerte:")
for col1, col2, corr in strong_correlations:
    print(f"{col1} y {col2}: {corr:.2f}")